*  {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.left_part-header {
    display: flex;
    margin: 15px 41px 14px 231px;
}

.logo {
    margin: auto;
}

.search {
    margin: auto;
    padding-left: 41px;
    padding-top: 10px;
}

.right_part_header {
    display: flex;
    padding: 26px 240px 20px 0;
}

.wrapper-dropdown-1 {
    padding-right: 33px;
    margin: auto;
    position: relative;
    display: flex;
}

.right_part_header:hover .mega-box {
    display: flex;
}

.megaLinks:hover {
    color: #F16D7F;
}

.mega-box {
    position: absolute;
    background: #FFFFFF;
    padding: 17px;
    margin-top: 29px;
    line-height: 17px;
    display: none;
    flex-direction: column;
}

.mega-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: -5px;
    left: 10px;
    transform: rotate(45deg);
}

.item-flex {
    display: flex;
    flex-direction: column;
}

.add {
    display: none;
    border: 1px solid #fff;
    padding: 10px;
    text-decoration: none;

}

.add-box {
    display: flex;
    position: absolute;
    top: 188px;
    justify-content: center;
    width: 100%;
}

.closing–°ross {
    position: absolute;
    top: 16px;
    right: 16px;
}

.menuLink {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 9px;
    padding-left: 15px;
}

.menuHeader {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 15px;
}

.megaLinks {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 50px 5px 35px;
}

.accout {
    margin: auto;
}

.cart {
    padding-left: 33px;
    margin: auto;
}

.banner {
    background: #F1E4E6;
    display: flex;
}

.banner_info {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.streak {
    background: #F16D7F;
    width: 12px;
    height: 92px;
    margin-right: 16px;
    margin-left: 64px;
}

.banner_first_line {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.banner_second_line {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.pink_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    font-style: normal;
    color: #F16D7F;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.small_banners {
    margin-top: 65px;
}

.small_banner_1 {
    position: absolute;
    width: 360px;
    height: 260px;
    background: url("images/small_banner_1.png");
    background-size: cover;
    margin-right: 30px;
}

.small_banner_2 {
    position: absolute;
    width: 360px;
    height: 260px;
    background: url("images/small_banner_2.png");
    background-size: cover;
    margin-left: 390px;
}

.small_banner_3 {
    position: absolute;
    width: 360px;
    height: 260px;
    background: url("images/small_banner_3.png");
    background-size: cover;
    margin-left: 780px;
}

.small_shadow {
    position: relative;
    width: 360px;
    height: 260px;
    background: black;
    opacity: 0.5;
}

.small_banner_text {
    position: absolute;
    top: 105px;
    left: 105px;
    text-align: center;
}

.long_banner {
    position: absolute;
    width: 1140px;
    height: 180px;
    background: url("images/long_banner.png");
    background-size: cover;
    margin-top: 290px;
}

.long_shadow {
    position: relative;
    width: 1140px;
    height: 180px;
    background: black;
    opacity: 0.5;
}

.long_banner_text {
    position: absolute;
    top: 60px;
    left: 490px;
    text-align: center;
}

.white_font {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.pink_font {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.fetured_items {
    margin-top: 570px;
}

.item-sec-header {
    text-align: center;
}

.fi_text_1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-transform: inherit;
    padding-top: 6px;
}

.header_fetured_items {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.item-box {
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background: #F8F8F8;
    width: 360px;
    height: 581px;
    margin-bottom: 30px;
    position: relative;
}

.item:hover .item-pic {
    filter: brightness(50%);
}

.item:hover .add {
    display: flex;
}


.item-link {
    display: block;
    width: 360px;
    text-decoration: none;
}

.product_name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    margin: 24px 0 13px 18px;
}

.product_info {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-left: 18px;
    width: 310px;
}

.product_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 18px 0 0 18px;
}

.card_button {
    border: 1px solid #FFFFFF;
    display: flex;
    position: absolute;
    top: 188px;
    left: 111px;
}

.submitButton {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    align-self: center;
    margin-left: 11px;
}


.button {
    width: 211px;
    height: 37px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
}

.button:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 95px;
}

.footer {
    margin-bottom: 1500px;
}

.ourQuality {
    height: 341px;
    background: #222224;
}

.qualitySet {
    display: flex;
    justify-content: space-between;
}

.qualityInfo {
    width: 360px;
    height: 133px;
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.qualityHeader {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 20px;
    padding-bottom: 16px;
    font-weight: 400;
}

.qualityParagraph {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    font-weight: 300;
}

.subscribeBlock {
    background-image: url(images/footerbackground.png);
    height: 448px;
    display: flex;
    justify-content: space-around;
    background-size: cover;
}

.leftsSidesbcrbblck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.feedback {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    height: 99px;
}

.facepic {
    width: 100px;
    height: 90px;
    margin-bottom: 20px;
}

.italicFont {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-style: italic;
}

.rightSidesbscrbblck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribeForm {
    display: flex;
    padding-top: 32px;
}

.inputData {
    width: 256px;
    height: 50px;
    font-weight: 400;
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
    color: #222224;
    opacity: 0.67;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
}

.submiteButton {
    width: 100px;
    height: 50px;
    background: #F16D7F;
    border-radius:0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border: none;
}

.footerHeader {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.footerParagraph {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    padding-top: 5px;
}

.rightsSocialNetworks {
    height: 79px;
    background: #222224;
    display: flex;
    justify-content: space-between
}

.rightsFont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.socialNetworks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetworks a:hover {background: #F16D7F;}

.socialNetworks_cart {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}